article.markdown-body h1 {
    text-align: left;
}

span.keywords_content {
    border-bottom:4px solid #E32636;
}

span.keywords_fund {
    border-bottom:4px solid orange;
}

/*zooming images*/
.grid {
column-count: 2;
column-gap: 1rem;
}

figure {
display: inline-block;
margin: 0 0 0 0;
width: 100%;
}

img {
width: 100%;
height: auto;
}