
article {
    margin: 2em;
    letter-spacing: 0.1em;
    line-height: 1.75em;
}

span.article_date {
    display: block;
    float: right;
    font-size: 60%;
}

#article_link {
    display: block;
}

div#vcomments {
    margin: 2em;
    padding: 1em;
    border: 1px dashed darkgray;
}


article#markdown-body img {
    width: 100%;
    object-fit: contain;
}

article#article_tags {
    justify-content: center;
    display: flex;
    margin: 1em;
}

article#article_tags a.item__tag {
    font-size: 1.1em;
    text-align: center;
    margin: 0.3em;
}

article#markdown-body img {
    object-fit: contain;
    width: 100%;
}

article#article_nav {
    display: flex;
    justify-content: space-between;
}


article#article_nav a {
    font-size: 1em;
    text-decoration: none;
    text-align: left;
    color: black;
    margin: 0;
}
