
footer {
    margin: 0;
    text-align: center;
}


#footer ul,
#footer li {
    display: inline-block;
    margin: 0;
    padding: 0.2em;
}

#footer a {
    text-decoration: none;
    color: #000000;
}
