

@import 'partial_header.css';

@import 'partial_footer.css';

@import 'partial_paging.css';

@import 'partial_single.css';

@import 'partial_list.css'; 
@import 'partial_index.css';

@import 'github-markdown.min.css';

* {
    box-sizing: border-box;

}


#header,
#footer,
#main {
    margin: 0;
    padding: 0;
    width: 800px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.05);
    letter-spacing: 2px;
    line-height: 1.75em;    
}

#header,
#footer {
    background-color: gainsboro;
    opacity: 0.8;
}


@media (max-width: 800px) {
    #header,
    #main,
    #footer {
        width: 100%;
    }

    #header li {
        float: none;
        border: none;
        display: block;
    }
}

