ul.pagination {
    padding-left: 16px;
}

div#tags_list {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

article.list-header blockquote {
    text-align: right;
    border: none;
    border-right: 5px solid lightgray;
}