{{ if eq .Params.portrait true }}

{{ .Content | safeHTML }}

{{ else }}
{{ partial "header.html" . }}

    <article id="markdown-body">

        <h1>{{ .Params.Title }}</h1>
        <p style="">
        {{ if (isset .Params "itemurl") }}
        <a href="{{ .Params.ItemUrl }}">原文链接</a>
        {{ end }}
        {{ dateFormat "Jan 2, 2006" .Params.Date }}
        </p>

        {{ if ne (trim .Content " ") "" }}
        {{ .Content |safeHTML|emojify }}
        {{ end }}
        
    </article>
    {{ partial "single_tags.html" . }}
    <div style="text-align: center">
        <img src="/img/weixin_banner.png" width=40%; />
    </div>


    {{ partial "prenext.html" . }}
    {{ partial "related.html" . }}



    {{ if not (eq .Params.comment false) }}
        {{ partial "comment.html" . }}
    {{ end }}

    
{{ partial "footer.html" . }}
{{ end }}

