{{ partial "header.html" . }}

    <article class="single markdown-body">
        {{ if (isset .Params "itemurl") }}

        {{ end }}
        <h1>{{ .Params.Title }}</h1>
        {{ if ne (trim .Content " ") "" }}
            <p>
            {{ .Content |emojify }}
            </p>
            </div>
        {{ end }}
        <div class="original_link">
            <p>链接:<a href="{{ .Params.ItemUrl }}">{{ .Params.ItemUrl }}</a></p>
        </div>        

    </article>


{{ partial "related.html" . }}
{{ if not (eq .Params.comment false) }}
    {{ partial "comment.html" . }}
{{ end }}

{{ partial "footer.html" . }}