{{ if eq .Params.portrait true }}

{{ .Content | safeHTML }}

{{ else }}
{{ partial "header.html" . }}

    <article id="markdown-body">

        <h1>{{ .Params.Title }}</h1>
        <h3>{{ dateFormat "Monday, Jan 2, 2006" .Params.Date }} </h3>

        {{ if (isset .Params "itemurl") }}
        <div class="original_link">
            <p style="text-align: left;">链接:<a href="{{ .Params.ItemUrl }}">{{ .Params.ItemUrl }}</a></p>
        </div>   
        {{ end }}

        {{ if ne (trim .Content " ") "" }}
            <p>
            {{ .Content |emojify }}
            </p>
            </div>
        {{ end }}
        
    </article>
    {{ partial "single_tags.html" . }}
    <div style="text-align: center">
        
        <img src="/img/weixin.jpg" width=110px; />
        <p>扫码关注：<strong>结丹记事本儿</strong>，更新有提醒</p>
    </div>


    {{ partial "prenext.html" . }}

    {{ partial "related.html" . }}



    {{ if not (eq .Params.comment false) }}
        {{ partial "comment.html" . }}
    {{ end }}

    
{{ partial "footer.html" . }}
{{ end }}

