{{ $start := add (sub (mul .Paginator.PageSize .Paginator.PageNumber) .Paginator.PageSize) 1 }}
<ol start={{ $start }}>
    {{ range .Paginator.Pages }}
    {{ if not (isset .Params "blog") }} <!-- 首页上屏蔽掉blog内容，section内不屏蔽-->
    <li class="item">
            <span class="item__title"><a class="item__notes" href="{{ .Permalink }}">{{ .Title}}</a></span>
            {{ if (isset .Params "itemurl") }}
            <span class="item__siteurl"><a href="{{ .Params.ItemUrl }}">[查看原文]</a></span> 
            {{ end }}
            [{{ range .Params.tags }}
            <a class="item__tag" href='/tags/{{- replace . " " "-" -}}'>#{{- . -}}</a>
            {{- end }}]
            ,{{ partial "age.html" . }}
            <!-- todo: 月份和tag放在右侧 -->
    </li>
    {{ end }}
    {{ end }}
    </ol>
{{ template "_internal/pagination.html" . }}