{{ $start := add (sub (mul .Paginator.PageSize .Paginator.PageNumber) .Paginator.PageSize) 1 }}
<ol start={{ $start }}>
    {{ range .Paginator.Pages }}
    
    <li class="item">
            <span class="item__siteurl"><a class="item__notes" href="{{ .Permalink }}">{{ .Title}}</a></span>
            {{ if (isset .Params "itemurl") }}
            <span class="item__siteurl"><a href="{{ .Params.ItemUrl }}">[查看原文]</a></span> 
            {{ end }}
            {{ range .Params.tags }}
            <a class="item__tag" href='/tags/{{- replace . " " "-" -}}'>#{{- . -}}</a>
            {{- end }}
            ,{{ partial "age.html" . }}
            <!-- todo: 月份和tag放在右侧 -->
            {{ if ne (trim .Content " ") "" }}
            <p>{{ .Summary }} ... ...</p>
            {{ end}}
    </li>
    {{ end }}
    </ol>
{{ template "_internal/pagination.html" . }}